<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="devExpress" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, 
				  Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
			<section name="xtraReports" type="DevExpress.XtraReports.Configuration.XtraReportsConfigurationSection, 
			   DevExpress.XtraReports.v12.1.Extensions, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		</sectionGroup>
	</configSections>
	<devExpress>
		<xtraReports>
			<reportGallery>
				<directory path="..\..\Templates" />
			</reportGallery>
		</xtraReports>
	</devExpress>
</configuration>